<p class="file-info">
  <span class="name">{{name}}</span>
  <span class="val">({{format-fileinfo type}}, {{format-size size}})</span>
  <i class="ico ico-file-delete btn-delete" {{action "delete"}}></i>
</p>
<div class="attachment-progress {{if isWait 'candy-stripes'}} {{if isDone 'is-done'}}" style={{style}}></div>
